/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Manrope:wght@800&family=Mulish:wght@800;900&family=Poppins:wght@300;500;600&family=Prompt:wght@600&family=Questrial&display=swap');

section.beforeVaccine{
    margin-top: 2vh;
        display: flex;
        width: 100%;
        height: 130vh;
        flex-direction: row;
}
div.nurseImage{
    width: 46%;
    height: 129vh;
    overflow: hidden;
    background-image: url(../img/nurse1.png);
    background-size: cover;
    background-position: center;
}
div.containerBeforeVaccine {
    width: 54%;
    display: flex;
    flex-direction: column;
}
div.preparationTextContainer{
    width: 66%;
    margin: 10px 11%;
    position: relative;
}
div.vaccineTipsContainer{
        width: 54%;
    margin: 5% 11%;
    position: relative;
}
div.containerCardTips{
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    padding: 6px 21px;
    border: 2px solid;
    border-color: #f0efef7a;
    border-radius: 7px;
}
div.containerCardTips:hover{
    box-shadow: 0 6px 34px -15px  rgba(161, 161, 161, 0.616), 0 0px 0px
}
div.cardTipsTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
}
div.cardTitleText{
    flex-grow: 1;
    margin-left: 3%;
}
div.descriptionText{
    padding: 0 11%;
    height: 0;
    overflow: hidden;
}
div.containerCardTips:hover div.descriptionText{
    height: auto;
}
div.iconTips{
    margin-right: 13px;
}
aside.preparationTitle{
    color: #1f3e72;
    font-family: 'Mulish', sans-serif;
    font-size: 34px;
    font-weight: bolder;
    margin-top: 13vh;
}
p.preparationText{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #777777;
    line-height: 29px;
    margin-top: 7vh;
}
p.vaccineTipsTitle{
    font-size: 14px;
    color:#3e495c;
}
p.vaccineTipsText{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #777777;
}
img.iconVaccineTips{
    height: 4vh;
}
img.iconVaccineSelect{
    height: 2vh;
    opacity: 65%;
}
    