/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Manrope:wght@800&family=Mulish:wght@800;900&family=Poppins:wght@300;500;600&family=Prompt:wght@600&family=Questrial&display=swap');

section.emergencyContact{
    display: flex;
    width: 100%;
    height: 130vh;
    flex-direction: row;
}
div.medicalPhone{
    width: 48%;
    height: 124vh;
    overflow: hidden;
    background-image: url(../img/medical1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.containerEmergency{
    width: 52%;
    display: flex;
    flex-direction: column;
}
div.emergencyContact{
    width: 66%;
    margin: 0px 19%;
    position: relative;
}
div.cardContainer{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    margin:auto;
    width: 68%;
    margin-top: 15vh;
}
div.card{
    border: 3px solid;
    border-color: #eae8e8b5;
    border-radius: 7px;
    display:flex;
    flex-direction: column;
    margin-bottom: 25px;
    transition: 0.4s;
}
div.card:hover  {
    box-shadow: 0 6px 34px -15px  rgba(110, 110, 110, 0.664), 0 0px 0px;
}
div.card:hover button.clearCardButton {
    box-shadow: 0 9px 10px 0 rgba(0,0,0,0.2), 0 6px 20px;
    background-color: #3353d1;
    color: #ffffff;
}
a{
    color: #3353d1;
    text-decoration: none;
}
div.card:hover a{
    color: #ffffff;
}

div.emergencyCardTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}
div.cardTitleText{
    display: flex;
    flex-direction: column;
    width: 55%;
}
div.iconDiv{
    margin-top: 16px;
    width: 45%;
    display: flex;
    justify-content: center;
}
aside.emergencyTitle{
    color: #1f3e72;
    font-family: 'Mulish', sans-serif;
    font-size: 34px;
    margin-top: 81px;
}
p.emergencyText{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #777777;
    line-height: 29px;
    margin-top: 7vh;
}
p.cardTitleText{
    height: 1px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #3f4c63;
}
p.cardSubtitleText{
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #8d8d8d;
}
button.clearCardButton {
    border: none;
    color: #3353d1;
    margin: 21px 21px;
    width: 145px;
    height: 40px;
    background-color:#e2e9ff;
    font-family: 'Poppins' sans-serif;
    font-size: 13px;
    border-radius: 4px;
    font-weight: bolder;
    transition: 0.5s;
}
img.emergencyCardIcons{
    height: 8vh;
    box-shadow: 0 6px 34px -15px  rgba(110, 110, 110, 0.664), 0 0px 0px;
}